h6 {
  height: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cellRotated {
  transform: rotate(270deg) scale(-1, 1);
}

.cellSquare {
  height: 45px;
  width: 45px;
  border: 2px solid white;
}

.headerLabel {
  font-size: 1.2em !important;
}

th,
td {
  color: white;
  background-color: black;
  padding: 0px;
}

table {
  margin: 0 auto;
  margin-left: 10%;
  display: table-row;
}
