h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0rem !important;
}

.SearchBar {
  width: 100%;
  border-radius: 4px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.73);
  position: relative;
}

.SearchBar input {
  width: calc(100% - 40px);
  border: none;
  border-radius: 4px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 16px;
  height: 40px;
  color: rgba(0, 0, 0, 0.73);
  box-sizing: border-box;
  outline: none;
  padding-left: 10px;
}

.SearchBar ul {
  list-style-type: none;
  text-align: left;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 9999;
  background-color: white;
  width: 100%;
  box-shadow: 0px 4px 4px 0px rgba(51, 51, 51, 0.16);
  border-radius: 4px;
}
.SearchBar ul::before {
  content: "";
}

.SearchBar li {
  border-top: 1px solid #dedede;
  /* border-bottom: 1px solid grey; */
}

div.BasicContainer {
  pointer-events: auto;
  padding: 5px 5px;
  cursor: pointer;
  line-height: 0px;
}

div.BasicContainer:hover {
  background-color: rgba(128, 128, 128, 0.2);
  cursor: pointer;
}

.TitleContainer {
  display: inline-block;
  margin-left: 15px;
  margin-top: 10px;
  position: absolute;
}

.SearchBar img {
  height: 88px;
  max-width: 60px;
  display: inline-block;
  vertical-align: baseline;
}
